<template lang="pug">
	footer(role="banner")
		p.made-by-message(v-if="showMadeByMessage")
			slot(name="made-by")
				span Made By&nbsp;
					a(href="https://gabe.xyz") Gabe
					| &nbsp;with &hearts;.
		p.philosophy(v-if="showPhilosophy"): slot(name="philosophy"): span
			| All code is&nbsp;
			a(href="https://www.gnu.org/philosophy/free-sw.html") libre
			| &nbsp;and open-source, licensed under the&nbsp;
			a(href="https://www.gnu.org/licenses/gpl-3.0.en.html") GNU Public License v3
			| &nbsp;and available on&nbsp;
			a(:href="gitUrl") {{ gitName }}
		p.privacy-and-license(v-if="showPrivacyAndLicense")
			slot(name="privacy-and-license")
				span.privacy: a(href="/privacy", data-jslicense="1") Privacy Policy
				span.divisor |
				span.license
					| License:&nbsp;
					a(href="https://creativecommons.org/licenses/by-sa/4.0") CC-BY-SA-4.0
		div.donate-links(v-if="showDonateLinks"): slot(name="donate-links")
			p If you find this site useful and feel like buying me a beer, feel free
				| &nbsp;to use the links below.  No pressure, though; we've all got
				| &nbsp;bills to pay.
			ul.wallet-list: li.wallet(v-for="wallet in wallets", :key="wallet.name")
				span.wallet-label {{ wallet.label }}:&nbsp;
				a.wallet-address(:href="`${wallet.name}:${wallet.address}`") {{ wallet.address }}
</template>

<script>
	export default {
		name: 'GabesFoot',
		props: {
			gitName: {
				type: String,
				default: 'GitLab'
			},
			gitUrl: {
				type: String,
				default: '#'
			},
			sectionsToInclude: {
				type: Array,
				default: () => [
					'made-by-message',
					'philosophy',
					'privacy-and-license',
					'donate-links'
				]
			},
			wallets: {
				type: Array,
				default: () => [
					{
						name: 'monero',
						label: 'XMR',
						address: '47QCECxGqEiWVgiq3Mj4ke2y5oDxJKJ7hinJZKQLiRdveNnuZprSMieGLZuh7uC7Wn7twCqerog8zUr8Z2c1zXtwStmeVDu'
					},
					{
						name: 'basic-attention-token',
						label: 'BAT',
						address: '0xA941958EE0E10485C8449a5B75d7b85a08EC9217'
					},
					{
						name: 'bitcoin',
						label: 'BTC',
						address: 'bc1qswyrw36dsgj8hw6rjkhzxhky5cyr3q02gfm53q'
					},
					{
						name: 'ethereum',
						label: 'ETH',
						address: '0xA941958EE0E10485C8449a5B75d7b85a08EC9217'
					}
				],
				validator: arr => arr
					.reduce((isValid, item) => {
						if (!isValid) return false;
						if (!item) return false;
						if (typeof item !== 'object') return false;
						const hasAllKeys = ['name', 'label', 'address']
							.reduce((hasAll, key) => {
								if (!hasAll) return false;
								if (typeof item[key] !== 'string') return false;

								return hasAll;
							}, true);
						if (!hasAllKeys) return false;

						return isValid;
					}, true)
			}
		},
		computed: {
			showMadeByMessage () { return this.sectionsToInclude.indexOf('made-by-message') !== -1; },
			showPhilosophy () { return this.sectionsToInclude.indexOf('philosophy') !== -1; },
			showPrivacyAndLicense () { return this.sectionsToInclude.indexOf('privacy-and-license') !== -1; },
			showDonateLinks () { return this.sectionsToInclude.indexOf('donate-links') !== -1; }
		}
	};
</script>

<style lang="scss" scoped>
	$wallet-label-size: 2.5rem;

	footer {
		width: 100%;
		font-size: 0.9rem;
		line-height: 1.6em;
		padding-top: 3rem;
		text-align: center;

		p.made-by-message,
		p.philosophy,
		p.privacy-and-license {
			display: flex;
			justify-content: center;

			span {
				flex: 1 1 50%;

				&.privacy { text-align: right; }

				&.divisor {
					flex-basis: auto;
					margin: 0 0.5em;
				}

				&.license { text-align: left; }
			}
		}

		div.donate-links {
			margin: 0.25rem 1rem;
			min-width: 20rem;

			ul.wallet-list {
				list-style-type: none;
				padding: 0;

				li.wallet {
					display: flex;
					margin-bottom: 0.5rem;

					&:last-of-type { margin-bottom: 0; }

					span.wallet-label {
						text-align: left;
						flex: 0 0 $wallet-label-size;
					}

					a.wallet-address {
						overflow-wrap: break-word;
						max-width: calc(100% - $wallet-label-size);
						text-align: left;
					}

					@media screen and (min-width: 53rem) {
						display: block;
					}
				}
			}
		}
	}
</style>
